 .contact-form {
    background-color: getColour(beige);
    padding: 30px 15px;
    border-radius: 3px;

 button {
    background-color: getColour(darkgrey);
    border: none;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
}

.form-check-input {
    background-color: getColour(pink);
    padding: 10px;
    margin: 2px;
}

.list-group-item {
    color: getColour(darkgrey);
    border: none;
    background-color:transparent;
}

.list-group-item i {
    padding: 5px;
    font-size: 30px;
}

.container h1 {
    padding: 20px;
}
