nav {
    background:getColour(pink); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: $font-logo;
    color:getColour(pink) !important;
}

.d-flex .btn {
    background-color:getColour(pink);
    color: getColour(white);
}

.navbar-toggler {
    border: none;
}



