nav {
    background:getColour(pink); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-family: $font-logo;
    color:getColour(pink);
}

.btn {
    background-color:getColour(pink);
    color: getColour(white);
}

.btn :hover {
    background-color:getColour(pink);
    color: getColour(white);


